<div class="dialog">
    <div class="wrapper">
        <!-- title -->
        <div>
            <div><a href="#" class="scrambler_close"></a></div>
            <div class="scrambler_title"></div>
        </div>
        <!-- CTA & dismiss -->
        <div class="scrambler_cta">
            <a href="#" class="scrambler_url">
                <img class="scrambler_img" src="">
            </a>
        </div>
    </div>
    <style>
        .scrambler {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.3);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 99999;
        }
            .scrambler.hide {
                opacity: 0;
                pointer-events: none;
            }
            .scrambler, .scrambler.show {
                box-sizing: border-box;
                -webkit-transition: all 0.33s cubic-bezier(0.25, 0.8, 0.25, 1);
                        transition: all 0.33s cubic-bezier(0.25, 0.8, 0.25, 1);
            }
            .scrambler, .scrambler * {
                box-sizing: border-box;
            }
            .scrambler .dialog {
                padding: 0;
                width: 100%;
                margin: 0 auto;
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
            }
            .scrambler .scrambler_close {
                float: right;
            }
                .scrambler .dialog > * {
                    width: 500px;
                    max-width: 95%;
                    margin: 0 auto;
                    text-align: center;
                    padding: 0;
                    background: #fff;
                    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
                }
    </style>
</div>
