/* ----------------------------------------------
dialog.scss - Base SCSS styling for SSO Modals
-------------------------------------------------*/
/* COLORS */
/* BREAKPOINTS */
/*-----------    Base Header Alerts     -----------*/
#dialog-alert {
  background-color: #eee;
}
#dialog-alert .container {
  border-bottom: 1px dotted #555;
}
#dialog-alert .dialog_alert {
  margin: 0 auto;
  max-width: 990px;
  padding: 1em;
  position: relative;
}
#dialog-alert .close {
  color: #555;
  filter: none;
  font-size: 20px;
  font-weight: normal;
  padding: 2px 8px;
  position: absolute;
  right: 10px;
  text-decoration: none;
  text-shadow: none;
  top: 10px;
}

/*-----------    Modal Overlay Scroll Lock    -----------*/
.scroll-lock {
  overflow: hidden;
}

/*-----------    Base Modal Skeleton    -----------*/
#dialog {
  background-color: #fff;
  color: #333;
  display: none;
  font: 100%/1.5 "Helvetica","Arial",sans-serif;
  left: 50%;
  max-width: 44em;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 80%;
  z-index: 1100000;
  /* IE8 - Also affects IE9.    See IE9 overrides below */
  left: 25% \9;
  max-width: 46em\9;
  top: 25% \9;
  width: 60% \9;
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* IE9 override - Reset overrides from IE8 that do not apply */
  /* ---- Buttons ---- */
  /*-----------    Responsive Modal Settings    -----------*/
}
:root #dialog {
  left: 50%;
  top: 50%;
}
#dialog .white {
  color: #FFF !important;
}
#dialog .push_right {
  float: right;
}
#dialog .push_left {
  float: left;
}
#dialog .border {
  background: #fc0;
  height: 2em;
}
#dialog .border > .close {
  top: -1.9em;
}
#dialog .borderless {
  border-top: none;
}
#dialog .borderless > .close {
  top: -0.3em;
}
#dialog .border_text {
  color: #555;
  margin-left: 2.5em;
  padding-top: 0.4em;
  position: absolute;
}
#dialog.on {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  opacity: 1;
}
@media (min-width: 0) and (max-width: 480px) {
  #dialog.on {
    overflow-y: auto;
  }
}
@media (min-width: 480px) and (max-width: 985px) {
  #dialog.on {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
#dialog .off {
  display: none;
}
#dialog .close {
  color: #333;
  cursor: pointer;
  filter: none;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 0.8em;
  padding: 0;
  position: absolute;
  right: 1.2em;
  text-decoration: none;
  text-shadow: none;
  top: 5px;
  z-index: 2;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
#dialog .close:hover {
  color: #999;
}
@media (min-width: 0) and (max-width: 480px) {
  #dialog .close {
    right: 1.5em;
  }
}
#dialog.dismissable > .close {
  display: block;
}
#dialog .left {
  float: left;
  width: 46%;
}
#dialog .right {
  float: right;
  width: 50%;
}
#dialog .left > .required, #dialog .left fieldset, #dialog .right > .required, #dialog .right fieldset, #dialog .mobile_section > .required, #dialog .mobile_section fieldset {
  width: 100%;
}
@media (min-width: 0) and (max-width: 985px) {
  #dialog .left, #dialog .right, #dialog .mobile_section {
    width: 100%;
  }
}
#dialog .dialog_modal > section {
  margin: 0 1em;
  padding: 1em;
}
#dialog label {
  clear: left;
  float: left;
}
#dialog #resend-activation-link {
  margin-top: 10px;
}
#dialog #resend-activation-link-button {
  display: inline;
  float: none;
  padding: .8em;
}
#dialog #resend-activation-email {
  clear: none;
  float: none;
  font: 10.5667px "Helvetica","Arial",sans-serif;
  width: 15em;
}
#dialog input,
#dialog select,
#dialog textarea {
  background-color: #EEE;
  border: 1px solid #CDCCCC;
  border-radius: 4px;
  clear: left;
  float: left;
  font: .825em/1.62 "Helvetica","Arial",sans-serif;
  height: 2rem;
  line-height: 1.6;
  margin: 0 0 .5em 0;
  min-height: 10px;
  padding: 0 .3em 0 .7em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#dialog input.sec_h {
  display: none;
}
#dialog label[for="username_confirm"] {
  display: none;
}
#dialog .inline {
  clear: none;
  display: inline-block;
  float: none;
}
#dialog .error {
  color: #FF4921;
  float: left;
  font: .8125em/1.62 "Helvetica", "Arial", sans-serif;
  letter-spacing: .025em;
  line-height: 1;
  margin: 0 0 .8em;
  width: 100%;
}
#dialog .inputError {
  border-color: #F00;
  margin-bottom: .8em;
}
#dialog .typeaheadError {
  margin-top: 0.1em;
}
#dialog .errorTop {
  background-color: #FFE4DE;
  border: 1px solid #FF4921;
  color: #FF4921;
  display: block;
  font: 0.8125em/1.62 "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1;
  margin: 1em 2.5em 0em;
  padding: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#dialog .upload-disable {
  color: #FF4921;
  float: left;
  font-size: 80%;
  position: relative;
}
#dialog .btn_series .btn {
  float: right;
  margin: 0 0 1em 1em;
}
#dialog .required {
  float: left;
  position: relative;
}
#dialog .required:before {
  color: #999;
  content: '*';
  float: left;
  left: -1em;
  margin-bottom: -1em;
  position: relative;
  top: 1em;
}
#dialog .placeholder:-moz-placeholder {
  color: green;
}
#dialog .placeholder::-moz-placeholder {
  color: green;
}
#dialog .placeholder:-ms-input-placeholder {
  color: green;
}
#dialog .placeholder::-webkit-input-placeholder {
  color: green;
}
#dialog .modal_title {
  font: 1.5em/1 "Din","Helvetica","Arial",sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#dialog .modal_subtitle {
  color: #FFF;
  font: 1.5em/1 "Din","Helvetica","Arial",sans-serif;
  margin: 0 0 .5rem;
  max-width: 11em;
  padding: 0.5em 0;
}
#dialog p {
  clear: both;
  color: #555;
  margin: 0 0 1em 0;
  position: relative;
}
#dialog > p {
  margin-left: 2em;
}
@media (min-width: 0) and (max-width: 985px) {
  #dialog > p {
    margin-left: 0;
  }
}
#dialog a {
  color: #00AEEF;
  text-decoration: none;
}
#dialog hr {
  border: none;
  margin: 0.2em 0;
}
#dialog hr.dots {
  border-bottom: 1px solid #FFF;
  border-top: 1px dotted #999;
}
#dialog hr.dots_reverse {
  border-bottom: 1px solid #000;
  border-top: 1px dotted #FFF;
}
#dialog .underline a {
  border-bottom: 1px dotted #999;
  border-top: 1px solid #FFF;
  text-decoration: none;
}
#dialog .tiny_text {
  font: .7em/1.3 "Helvetica","Arial",sans-serif;
  letter-spacing: .025em;
}
#dialog .small_text {
  font: .8em/1.3 "Helvetica","Arial",sans-serif;
  letter-spacing: 0.025em;
}
#dialog .med_text {
  font: .86em/1.4 "Helvetica","Arial",sans-serif;
  letter-spacing: 0.025em;
}
#dialog .forgot {
  clear: left;
  float: left;
  margin: .5em 0;
}
#dialog .break {
  clear: both;
  display: block;
}
#dialog .btn,
#dialog a.submit {
  background-color: #3B76B8;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: block;
  filter: none;
  float: left;
  font: .625em/1 "Helvetica","Arial",sans-serif;
  font-weight: bold;
  margin: 0 1em 1em 0;
  padding: .8em 0 .7em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 11rem;
  -webkit-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#dialog .btn:hover,
#dialog a.submit:hover {
  background-color: #0C4F81;
}
#dialog .btn.btn_long,
#dialog a.submit.btn_long {
  width: 20em;
}
#dialog .btn.btn_fb,
#dialog a.submit.btn_fb {
  padding-left: 1em;
  width: 19em;
}
#dialog .btn_secondary {
  background-color: #999;
}
#dialog .btn_secondary:hover {
  background-color: #CDCCCC;
}
#dialog .btn_natgeo {
  background-color: #F3CC0A;
  color: black;
}
#dialog .btn_natgeo:hover {
  background-color: #a38C5A;
}
#dialog .signin input[type="submit"] {
  padding: 0.7em 1.5em;
}
#dialog header,
#dialog footer,
#dialog .footer {
  background: transparent;
  height: auto;
  padding: 0;
}
#dialog header {
  margin-bottom: 1em;
}
#dialog header h1, #dialog .title {
  font-family: "Din", "Helvetica", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
#dialog footer, #dialog .footer {
  background-color: #fff;
  clear: both;
  color: #555;
}
#dialog .reg_loading,
#dialog .close_confirm {
  background: url(../build/views/images/nationalGeographic_loader_bg.png) 9;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  height: 100%;
  left: 0;
  padding: 15% 20px 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#dialog .reg_loading_spinner {
  display: block;
  margin: 0 auto;
}
#dialog .reg_loading_text {
  display: block;
  font: 1.3em/1 'Din', 'Helvetica', 'Arial',sans-serif;
  margin-top: 1em;
}
#dialog .close_confirm_text {
  display: block;
  margin: 0 9.5em;
  position: inherit;
  top: 30%;
}
#dialog .btn_confirm_series {
  display: inline-block;
  margin: 1em auto 0;
}
@media (min-width: 0) and (max-width: 985px) {
  #dialog {
    min-width: 30em;
    width: 50%;
  }
  #dialog .left, #dialog .right {
    width: 100%;
  }
  #dialog .left input, #dialog .right input {
    width: 100%;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  #dialog {
    height: 100%;
    left: 0 !important;
    min-width: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0 !important;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  #dialog .dialog_overlay {
    margin: auto 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateZ(0px);
  }
  #dialog .border_text {
    margin-left: 32px;
  }
}

@media (min-width: 0) and (max-width: 480px) {
  /* This styling makes both mobile and desktop modals to hide everything
   * but the modal (#dialog) that has a forced display:block
  */
  body.modal-blocker {
    overflow: auto !important;
  }
  body.modal-blocker > * {
    display: none;
  }
}
/* ---- Tooltips ---- */
#dialog .password_validator .invalid:before,
#dialog .password_confirmation .nomatch:before {
  content: '\00d7';
  margin-right: .5em;
}
#dialog .password_validator .valid,
#dialog .password_confirmation .match {
  background-color: #E3F0E6;
  -moz-box-shadow: inset 0 1px #F5FAF6;
  -webkit-box-shadow: inset 0 1px #F5FAF6;
  box-shadow: inset 0 1px #F5FAF6;
}
#dialog .password_validator .valid:before,
#dialog .password_confirmation .match:before {
  content: '\00A0\221A';
  margin-left: -0.3em;
  margin-right: .5em;
}
#dialog .tooltip_wrap input:focus,
#dialog .tooltip_wrap input.focus {
  border-color: #999;
  color: #555;
}
#dialog .tooltip_wrap .tool_tip {
  display: none\9;
  font: 1.07em/1.3 "Helvetica","Arial",sans-serif;
  left: 1.875em;
  margin-left: 2px;
  margin-top: -1.5625em;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 1.25em;
  text-align: justify;
  width: 18.5em;
  z-index: 1;
}
#dialog .tooltip_wrap .tool_tip ul {
  background-color: #F7F7F7;
  border: 1px solid #DCDCDC;
  cursor: pointer;
  left: -2px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
#dialog .tooltip_wrap .tool_tip li {
  border-top: 1px dotted #DCDCDC;
  -moz-box-shadow: inset 0 1px #FFF;
  -webkit-box-shadow: inset 0 1px #FFF;
  box-shadow: inset 0 1px #FFF;
  color: #1F7098;
  font: .8125em/1.62 "Helvetica", "Arial", sans-serif;
  letter-spacing: .025em;
  margin-bottom: 0;
  padding: .625em;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#dialog .tooltip_wrap .tool_tip li.check {
  background-color: #E3F0E6;
  -moz-box-shadow: inset 0 1px #F5FAF6;
  -webkit-box-shadow: inset 0 1px #F5FAF6;
  box-shadow: inset 0 1px #F5FAF6;
}
#dialog .tooltip_wrap .tool_tip li.check .arrow::before {
  border-bottom-color: #E3F0E6;
}
#dialog .tooltip_wrap .tool_tip li.whats-this:before {
  content: '';
}
#dialog .tooltip_wrap .tool_tip li:first-child {
  border-top: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#dialog .tooltip_wrap .tool_tip .arrow {
  border: none;
  border-bottom: .625rem solid #DCDCDC;
  border-left: .3125rem solid transparent;
  border-right: .3125rem solid transparent;
  content: '';
  left: 50%;
  margin-left: -.3125rem;
  position: absolute;
  top: -.625rem;
}
#dialog .tooltip_wrap .tool_tip .arrow::before {
  border: none;
  border-bottom: .5rem solid #F7F7F7;
  border-left: .25rem solid transparent;
  border-right: .25rem solid transparent;
  content: '';
  left: -4px;
  position: absolute;
  top: 3px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 0) and (max-width: 480px) {
  #dialog .tooltip_wrap .tool_tip .arrow {
    left: 97%;
  }
}
#dialog .tooltip_wrap .tool_tip.tool_tip_bottom {
  top: auto;
}
#dialog .tooltip_wrap .tool_tip.tool_tip_bottom .arrow {
  bottom: -.625rem;
  border-bottom: none;
  border-top: .625rem solid #DCDCDC;
  top: auto;
}
#dialog .tooltip_wrap .tool_tip.tool_tip_bottom .arrow::before {
  border-bottom: none;
  border-top: .5rem solid #F7F7F7;
  bottom: 3px;
  top: auto;
}
#dialog .tooltip_wrap.password .tool_tip.tool_tip_bottom {
  left: -0.1em;
  top: -7.4em;
}
#dialog .tooltip_wrap input:focus + .tool_tip,
#dialog .tooltip_wrap input.focus + .tool_tip,
#dialog .whats-this .tooltip_wrap:hover .tool_tip {
  display: block\9;
  margin-top: 0.5em;
  opacity: 1;
  pointer-events: auto;
}
#dialog .native_reg .tooltip_wrap {
  margin: 0;
}
#dialog .whats-this .tooltip_wrap {
  left: 95%;
  position: absolute;
}
#dialog .whats-this .tooltip_wrap > span {
  cursor: pointer;
  margin: 1em 0 0;
}
#dialog .whats-this .tooltip_wrap .tool_tip {
  bottom: 8em;
  left: -9em;
}
#dialog .whats-this.text_with_input .tooltip_wrap > span {
  margin: 0 0 0 18em;
}
#dialog .whats-this.text_with_input .tooltip_wrap .tool_tip {
  left: auto;
  right: -146px;
}
#dialog .whats-this.text_with_input .tooltip_wrap:hover .tool_tip {
  margin-top: 0.6875em;
}

#registration.native_reg .tooltip_wrap .tool_tip li {
  width: 21em;
}

/* ---- end Tooltips ---- */
#dialog {
  /*-----------    Twitter Typeahead -----------*/
}
#dialog .twitter-typeahead {
  width: 100%;
}
#dialog .tt-dropdown-menu {
  background: #eee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
  border: 1px solid #ddd;
  border: 1px solid #dddddd;
  color: #333;
  display: none;
  float: left;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
#dialog .tt-dropdown-menu .tt-suggestion {
  clear: both;
  color: #333333;
  display: block;
  font: 1em/1 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
  line-height: 20px;
  padding: 4px 16px;
  text-decoration: none;
  white-space: nowrap;
}
#dialog .tt-dropdown-menu,
#dialog .tt-dropdown-menu .tt-suggestion,
#dialog .tt-dropdown-menu .tt-is-under-cursor {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#dialog .tt-is-under-cursor {
  background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
  border: 1px solid #fbcb09;
  color: #c77405;
}
